// styles for forms

.form-control {
	border-radius: 0;
	margin-bottom: 30px;
	font-size: 12px;
    color: $gray;
    background: $white;
    @include prefix(transition, all 200ms ease-in, webkit moz); // use prefix mixin for this CSS3 property
}

label {
	font-weight: bold; // refer to PNG
}
.form-control:focus {
    background: $gray-lighter;
    border-color: $gray;
}
