// padding and color not incorporated into the other partials


#home {
	background-color: $gray-dark;
	padding: 40px 0;
}

#cta-1 {
background-color: $gray-lighter;
padding: 40px 0;
}

#testimonials {
	background-color: $gray-dark;
}

#cta-2 {
	background-color: $blue;
	padding: 40px 0;
}

#services {
	background-color: $gray-dark;
}

#cta-3 {
	background-color: $gray-dark;
	padding: 40px 0;
}

#footer {
	background-color: $gray-dark;
	color: $gray;
	padding: 20px;
}

.section-padding {
	padding-top: 60px;
	padding-bottom: 50px;
}

.section-heading {
	margin-bottom: 40px;
}

.color-reverse,
.color-reverse h2,
.color-reverse h3,
.color-reverse .icon {
	color: $white;
}

.color-reverse .icon:before,
.color-reverse .icon:after {
	border-bottom-color: $white;
}

// styling the section header icons
.icon {
    display: inline-block;
    font-size: 1.3em; // 1.3x base
    line-height: $line-height-base;
    width: 130px;
    margin: 0 auto;
    position: relative;
	color: $blue;
}

.icon:before,
.icon:after {
    display: inline-block;
    content: "";
    border-bottom: 1px solid $blue;
    position: absolute;
    top: 10px;
    width: 50px;
}

.icon:before {
    left: 0;
}

.icon:after {
    right: 0;
}

.icon-bg {
	color: $white;
}

.icon-bg:before,
.icon-bg:after {
	border-bottom-color: $white;
}

// add rules for the testimonials section


.pullquote {
    letter-spacing: 0px;
	margin-bottom: 16px;
}


//styles for the about icons
.about-col .fa {
	width: 90px;
	height: 90px;
	line-height: 90px;
	color: $gray;
	border-radius: 50%;
	background-color: $gray-lighter;
}

// adds rules for the services section

//rule that centers for smaller screens: mobile first
.services-col {
	color: $blue;
	text-align: center;

}

//rule that aligns left for larger screens: mobile first

@media (min-width: 768px) {
    .services-col {
        text-align: left;
    }
}

.services-col h3 {
	color: $blue;
	margin-top: 0;
	font-weight: 200;
	letter-spacing: 1px;
	font-size: 1.75em;
}

.services-col p {
	color: $gray;
	letter-spacing: 1px;
	font-weight: 200;
	line-height: 2;
}

.services-col .fa {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: $white;
    background-color: $blue;
    border-radius: 35px;
    margin-bottom: 10px;
}
// add rules for the contact section

.contact-hours .fa {
    color: $blue;
}

.social-channels .fa {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: $gray;
    background-color: $gray-lighter;
    margin-bottom: 10px;
}


//rules for cta-1
#cta-1 .lead {
	letter-spacing: 0;
	font-style: normal;
}

//rules for author
.author {
    color: $blue;
    font-size: 1.1em;
}

//rules for portfolio overlay

.item-img-wrap{
    position: relative;
    text-align: center;
    overflow: hidden;

}
.item-img-wrap img{
    @include prefix(transition, all 200ms linear, webkit moz); // use prefix mixin for this CSS3 property
}

.item-img-overlay{
    position: absolute;
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
}
.item-img-overlay span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/plus.png) no-repeat center center rgba(0, 0, 0, 0.6);
    opacity: 0;
    @include prefix(transition, opacity 250ms linear, webkit moz); // use prefix mixin for this CSS3 property
}


.item-img-wrap:hover .item-img-overlay span{
    opacity: 1;
}
.item-img-wrap:hover img{
    @include prefix(transform, scale(1.1), webkit moz); // use prefix mixin for this CSS3 property
}

//group selector bottom Margins 
.about-col, .team-col, .services-col, .portfolio-col, .facts-col, .blog-col {
	margin-bottom: 40px;
}

//blog date
.blog-col span {
	color: $gray;
	font-size: .9em; // .9x base font size
display: inline-block;
	margin-bottom: 20px;
}
