//Colors
$font-stack: Barrio, Sansita, san-serif, !important;
$font-family: Sansita, sn-serif, !important;
$primary-color: #000, !important;
$white: #fff, !important; //
$red-orange: #ef4043, !important; //border
$purple: #653ae3, !important; //button   hover
$yellow: #fb6ala, !important; //logo bg 
$tourquoise: #24cdf6, !important; //bg 
$magenta: #fb1494, !important; //bg
$black: #000, !important; //accent   border   bg
$gray: #777, !important; //text
$gray-lite: #bbb, !important; //header
$gray-dark: #333, !important; //footer
$body-color: #000, !important; //background color